/*Zachary Hankinson
CS1520*/
/*Styles by attribute*/
p {
  font-size: 14pt;
}

body {
  background-color: rgba(203,221,230,1) !important;
}

/*Styles by ID*/
#propic {
  height: 200px;
}

#pointer {
  height: 200px;
}

#map {
  width: 100%;
  height: 400px;
  visibility: hidden;
}

/*#you #me #con {
  background-color: #d3d3d3 !important;
}*/

/*Styles by class*/
.carousel-inner > .item > img {
  height: 200px !important;
  margin: auto;
}
.jumbotron {
  color: white !important;
  background: url('../img/darkblue.jpg') no-repeat;
  background-size: cover;
  width: 100%;
}

.burning{
  color: white;
}
